.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
*.yaml
*.yml
*.csv
HISTORY.txt
README.txt

# Additional File Paths for Git Ignore for Added Security
ITDataServicesInfra/Python/Collegeboard/TSI/secrets.yaml
ITDataServicesInfra/Scripts/*
ITDataServicesInfra/Projects/*
