.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
*.json
*.yaml
*.yml
*.csv
HISTORY.txt
README.txt

# Additional File Paths for Git Ignore for Added Security
# If Yaml Files are Chosen to Hold Secrets
ITDataServicesInfra/Python/ACT/secrets.yaml
ITDataServicesInfra/Python/Collegeboard/AP/secrets.yaml
ITDataServicesInfra/Python/Collegeboard/PSAT/secrets.yaml
ITDataServicesInfra/Python/Collegeboard/SAT/secrets.yaml
ITDataServicesInfra/Python/Collegeboard/TSI/secrets.yaml
ITDataServicesInfra/Python/Skyward/secrets.yaml

# If JSON files are Chosen to Hold Secrets
ITDataServicesInfra/Python/ACT/secrets.json
ITDataServicesInfra/Python/Collegeboard/AP/secrets.json
ITDataServicesInfra/Python/Collegeboard/PSAT/secrets.json
ITDataServicesInfra/Python/Collegeboard/SAT/secrets.json
ITDataServicesInfra/Python/Collegeboard/TSI/secrets.json
ITDataServicesInfra/Python/Skyward/secrets.yaml

ITDataServicesInfra/Scripts/*
ITDataServicesInfra/Projects/*
